.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.background {
  background-image: url("../imgs/pattern-of-music-purple.svg");
  background-size: 300px;
  background-repeat: repeat;
  /* filter: invert(1) brightness(.5); */
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column {
  float: left;
  width: 50%;
}

.row {
  background-color: rgba(0, 0, 0, 0.5);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
